:root {
    --head-background-color: #000;
    --head-background-color2: #9fa;
    --background-color-row1: grey;
    --background-color-row2: #fff;
}

body {
    padding: 10px;
}
table {
    border: 2px solid var(--head-background-color);
    padding: 0.5em 0.2rem;
    width: 400px;
}
caption {
    caption-side: bottom;
    font-size: smaller;
    padding: 0.3rem;
}
th, td {
    border: 2px solid var(--head-background-color);
}
