:root {
    --head-background-color: #000;
    --head-background-color2: #9fa;
    --background-color-row1: grey;
    --background-color-row2: #fff;
}

body {
    padding: 10px;
}
table {
    padding: 0.5em 0.2rem;
    width: 400px;
}
caption {
    caption-side: bottom;
    font-size: smaller;
    padding: 0.3rem;

}
thead {
    color: var(--background-color-row2);
    background-color: var(--head-background-color);
}
thead th, tbody td {
    text-align: center;
}
