:root {
    --primary-color1: #003F88;
    --primary-color2: #640D14;
    --secondary-color1: #004f2d;
    --secondary-color2: #3C096C;
    --accent-color1: #FDF0D5;
    --accent-color2: #EDF2F4;
    --border-color: grey;
    --background-color3: #cdcdcd;
}


* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    border: 2px solid var(--border-color);
    margin-bottom: 7px;
}

footer p {
    background-color: var(--primary-color1);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: var(--accent-color2);
}

body {
    background-color: var(--accent-color1);
}

.company-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--primary-color1);
}

.company-logo {
    border: 5px solid var(--secondary-color1);
    border-radius: 20px;
    margin-left: 30px;
}

@media screen and (min-width: 1150px){
    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--secondary-color1);
        padding: 10px;
    }

    .nav-bar a {
        background-color: var(--primary-color1);
        color: var(--accent-color2);
        padding: 7px;
        border: 2px solid var(--border-color);
        border-radius: 7px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 0 80px;
        width: 100%;
        max-width: 10rem;
    }

    
}

.company-name {
    grid-column: 2/4;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 3.5rem;
    margin-bottom: 10px;
    padding-top: 10px;
    color: var(--accent-color2);
}

.main {
    width: 100%;
    max-width: 960px;
    justify-self: center;
}

.main p, legend {
    color: var(--secondary-color1);
}

.main strong, .main h2 {
    color: var(--secondary-color2);
}

.roof-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Nov-10-2021 {
    position: absolute;
    width: 52%;
    justify-content: center;
    margin-top: 3rem;
}


.Feb-19-2009 {
    position: absolute;
    width: 50%;
    margin-left: 31.5rem;
    margin-top: 3rem;
    
}
footer {
    margin-top: 18.3rem;
}


/*  ======================================================================================  */


.calculator {
    display: grid;
    align-content: center;
    text-align: left;
    grid-row-gap: 30px;
    border: 2px solid var(--border-color);
    padding: .5rem;
    border-radius: 7px;
    background-color: var(--background-color3);
}

.user-guide {
    padding: .5rem;
}

.calculator h2, .user-guide h2 {
    font-size: 35px;
    padding: 10px 0 0 5px;
    text-decoration: underline;
}

.calculator p, .user-guide p {
    padding-left: 1rem;
}

.calc-main legend {
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    padding:  10px 15px;
    margin-top: 1.2rem;
    margin-left: -0.85rem;
    color: var(--secondary-color2);
}
.corogated-sheet, .flat-Sheet {
    display: grid;
    grid-row-gap: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 7px;
    color: #000;
}

.calc-main .calculator label {
    display: grid;
    font-family: "Lato";
    font-weight: 700;
    font-size: 1rem;
}

.calc-main input[type="text"] {
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    height: 40px;
    padding: 0 8px;
    font-family: "Roboto", sans-serif;
}
label[for="button"] {
    border: 3px solid var(--primary-color2);
    height: 70px;
    width: 100%;
    max-width: 610px;
    margin: 0 0 5px 1px;
    padding: 0 0 0 2px;
    border-radius: 40%;
    background-color: yellow;
}

.calc-main .calculator input[type="button"] {
    height: 60px;
    width: 100%;
    max-width: 600px;
    /*margin: 0 0 15px 15px;*/
    border: 4px solid var(--border-color);
    border-radius: 40%;
    color: var(--background-color3);
    background-color: var(--secondary-color1);
    font-size: x-large;
    align-self: center;
}

.calc-footer {
    margin: 0;
}