:root {
    --primary-color1: #003F88;
    --primary-color2: #640D14;
    --secondary-color1: #004f2d;
    --secondary-color2: #3C096C;
    --accent-color1: #FDF0D5;
    --accent-color2: #EDF2F4;
    --border-color: grey;
    --background-color3: #cdcdcd;
    --header-footer-background-color: #333;
    --background-color: #ababab;
    --text-color: #fff;
    --border-radius: 8px;
    --background-G: linear-gradient(15deg, brown, blue, purple, green, deeppink);
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

header {
    display: grid;
    border: 2px solid var(--border-color);
    margin-bottom: 7px;
}

.company-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--primary-color1);
}

.company-logo {
    border: 5px solid var(--secondary-color1);
    border-radius: 20px;
    margin-left: 30px;
}

@media screen and (min-width: 1150px){
    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--secondary-color1);
        padding: 10px;
    }

    .nav-bar a {
        background-color: var(--primary-color1);
        color: var(--accent-color2);
        padding: 7px;
        border: 2px solid var(--border-color);
        border-radius: 7px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 0 80px;
        width: 100%;
        max-width: 10rem;
    }
}

.company-name {
    grid-column: 2/4;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 3.5rem;
    margin-bottom: 10px;
    padding-top: 10px;
    color: var(--accent-color2);
}


footer p {
    background-color: var(--primary-color1);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: var(--accent-color2);
}

#form-main {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    width: 100%;
    max-width: 540px;
    justify-self: center;
}


header h1 {
    font-size: 2rem;
    padding: 20px;
}

.web-form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 2px solid gold;
    border-radius: var(--border-radius);
}

.web-form div {
    display: grid;
    margin-top: 2rem;
    padding: 0 15px 0 15px;
    
}

.web-form .rate-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.web-form .product-name, .web-form {
    display: grid;
}

.relative {
    position: relative;
}

.relative p {
    position: absolute;
    margin: -1rem 0 0 1rem;
}


.rate-icon {
    display: grid;
    justify-content: center;
}


.product-name-span,
.rating-p,
.review span,
.date-span,
.name,
.relative .features {
    font-weight: 700;
}

.web-form .submit-div {
    margin-bottom: 2.5rem;
}

.installation-date,
.review,
.username {
    display: grid;
}

.installation-date input[id="date"],
.product-name select[id="product-name"],
.username input[id="username"],
.web-form input[type="submit"] {
    padding: 1rem .5rem 1rem .5rem;
}
.submit-div .asterisk, .asterisk {
    color: red;
}


#features label span {
    margin-left: 10px;
    font-size: large;
}

#features input {
    width: 15px;
    height: 15px;
}

.rate-section label span {
    font-size: larger;
}

.rate-section input {
    height: 20px;
}

.review textarea {
    padding: 2rem .2rem 2rem .2rem;    
}

.optional {
    color: #55f;
}

input[type="submit"] {
    background: var(--background-G);
    border: 2px solid gold;
    font-family: "Sofia", sans-serif;
    font-size: larger;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
input[type="submit"]:hover {
    font-family: "Lato", sans-serif;
}